.no-text-decor {
    text-decoration: none;
}
.task {
border: 1px solid black;
margin: 10px 0;
padding-left: 10px;
line-height: 100%;
position: relative;
background: #ddd;
border-radius: 4px;
}
      
.task span {
top: 50%;
transform: translateY(-50%);
font-weight: bold;
text-transform: capitalize;
}
.container {
border: 1px solid black;
padding: 10px;
background: rgb(57, 136, 255);
border-radius: 4px;
}
.btn-group{
position:relative;
vertical-align: middle;
display:flex;
border: 1px solid black;
}
